<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>springmvc3</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <!-- spring 설정 
  		DispatcherServlet은 자신의 설정정보(spring 설정파일)를
  		[servlet name]-servlet.xml로 찾아서 로딩한다.
  		spring config xml:dispatcher-servlet.xml 
  		
  		서블릿은 최초 요청시에 초기화되므로
  		웹 어플리케이션 최초 실행시 스프링 설정을 로딩하기 위해서
  		<load-on-startup>1</load-on-startup> 을 명시한다.
  		
  		.do로 마치는 모든 요청에 대해 DispatcherServlet이 처리하도록
  		url pattern을 명시한다.
  -->
  <servlet>
  	<servlet-name>dispatcher</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
  	<servlet-name>dispatcher</servlet-name>
  	<url-pattern>*.do</url-pattern>
  </servlet-mapping>
</web-app>