<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!-- spring 설정 -->
<!-- bean name으로 담당 컨트롤러를 연결한다 -->
<bean id="handlerMapping" 
class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping"></bean>

<!-- view를 처리하는 방식을 제공 -->
<bean id="viewResolver" 
class="org.springframework.web.servlet.view.InternalResourceViewResolver">
 <property name="prefix" value="/response/"></property>
 <property name="suffix" value=".jsp"></property>
</bean>

<!-- 담당할 컨트롤러를 등록한다. -->
<bean name="/my.kosta" class="controller.MyController"></bean> 
<bean name="/findMember.kosta" class="controller.FindMemberController">
	<constructor-arg ref="memberService"/>
</bean> 
<bean id="memberService" class="model.MemberServiceImpl"></bean>
</beans>
